<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
   		 id="taxcat"
         point="org.protege.editor.core.application.ViewComponent">
      <label value="Taxonomy Categorizer"/>
      <class value="cz.cvut.kbss.taxcat.view.TaxonomyCategorizationView"/>
      <headerColor value="@org.protege.ontologycolor"/>
      <category value="@org.protege.misccategory"/>
   </extension>
</plugin>
